
@import"./node_modules/bootstrap/scss/bootstrap.scss";

.contenedor{
    width: 80%;
}
.banner{
    height: auto;
}

.foto-perfil img{
    border-radius: 50%;
}
footer{
    background: black;
    padding: 4rem 0rem 0rem 0rem;

}
.pie a img{
    width: 20%;
}
.derechos{
    padding: 2rem;
}
.whatsapp img{
    width: 1.5rem;
}